#mainHeader {
    font-size: 60px;
    margin-top: 0px;
}
body {font-family: sans-serif;}
h1 {text-align: center;}


#carSelectionForm {
    background-color: black;
    border-radius: 15px;
    padding: 7.5px;
}

.carSelectionListItem {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
}

#formButtonFinish {
    background-color: black;
    font-size: 25px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

#formButtonFinish:hover {
    background-color: rgb(20, 20, 20);
    font-size: 25px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

#playerNameLabel {
    margin: 5px;
    color: white;
    font-size: 25px;
}

#selectCarHeader {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    color: white;
    font-size: 25px;
    margin-bottom: -15px;
}