body {
    font-family: sans-serif;
}
#server {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: lime;
}

#client {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: lime;
}