#header {
    text-align: center;
}

.connectText {
    color: white;
    background-color: black;
    border: 1px solid rgb(44, 44, 44);
    font-size: 35px;
}

#ip {
    width: 300px;
}

#port {
    width: 100px;
}



body {
    font-family: sans-serif;
}

