body {
    font-family: sans-serif;
}
#mainHeader {
    text-align: center;
    font-weight: bold;
    font-size: 40px
}

#playerName {
    font-size: 30px;
}

#Profilepicture {
    width: 50px;
}