<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='client.css') }}">
    <title>Fly Overdrive</title>
</head>
<body>
    <h1 id="header">Server beitreten</h1>
    <form method="post">
        <label class="serverLabel" for="serverIp">Server IP: </label>
        <input type="text" name="serverIp" class="serverText" value="127.0.0.1">
        <label class="serverLabel" for="serverPort">Server Port: </label>
        <input type="text" name="serverPort" class="serverText" value="5555">
        <input id="formButtonFinish" type="submit" value="Verbinden">
    </form>
</body>
</html>