<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Hauptmenü</title>
</head>
<body>
    <!-- <h1 id="client"><a  id="client" href="clientMenu">CLIENTMENU</a></h1><br> -->
    <h1 id="server"><a  id="server" href="serverMenu">SERVERMENU</a></h1>
</body>
</html>