<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='serverMenu.css') }}">
    <title>Fly Overdrive</title>
    <style>

    </style>
</head>
<body>
    <h1 id="mainHeader">Servermenü</h1>
    <div>
        <p>
            <form id="connectForm" method="post">
                <input name="ip" id="ip" class="connectText" type="text" value="127.0.0.1" required><span class="connectText">:</span><input name="port" id="port" class="connectText" type="number" value="6666" max="9999" required>
                <input id="formButtonFinish" type="submit" value="Verbinden">
            </form>
        </p>
    </div>
</body>
</html>